/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----end----- */



/*shengbixing.com style*/

body {
    width: auto;
    font-family: 'Bitter', "Hiragino Mincho ProN W6", "HiraMinProN-W6", "Yu Mincho Demibold", "Kozuka Mincho Pro B", "KozMinPro-Bold", serif;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 40px;
}

h1 span {
    font-weight: bold;
}

h2 {
    font-size: 0.98em;
    margin: 40px 0 8px 0;
    text-transform: uppercase;
    font-weight: bold;
}


p a{
    text-decoration: underline;
    -webkit-font-smoothing: antialiased;
    color: black;
}

a:hover {
    text-decoration: none;
    opacity: 0.5;
    text-decoration: underline;
    transition-duration: 0.5s;
    -moz-transition-duration:0.5s;
    -webkit-transition-duration:0.5s;
    -o-transition-duration:0.5s;
}

p {
    line-height: 1.7em;
    -webkit-transition: opacity 1.0s ease-in-out;
    transition: opacity 1.0s ease-in-out;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}

p:hover {
    opacity: 1;
    -webkit-transition: opacity 1.0s ease-in-out;
    transition: opacity 1.0s ease-in-out;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    opacity: 0.5;
    text-decoration: underline;
    transition-duration: 0.5s;
    -moz-transition-duration:0.5s;
    -webkit-transition-duration:0.5s;
    -o-transition-duration:0.5s;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.area {
    width: 86%;
    margin: 0 auto;
}

.main {
    float: right;
    display: none;
    width: 60%;
    min-width:320px;
    max-width: 640px;
    margin: 80px 1% 0 0;
}



#side_nav {
    position: fixed;
    display: block;
    top: 151px;
    left: 150px;
    width: 10%;
}

@media screen and (max-width: 560px) {
    #side_nav {
        display:none;
    }
}

.social_icons ul li{
    float: left;
    margin-left: 1px;
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    /*clear: both;*/

}

.white_space {
     clear: both;
     height: 40px;
     width: 40px;
     /*background-color: aqua;*/
 }

.white_space_small {
    clear: both;
    height: 24px;
    width: 20px;
    /*background-color: aqua;*/
}

.copyright {
    /*background-color: aqua;*/
    clear: both;
    display: block;
    margin-top: 40px;

}


.social_icons img{
    margin: 0 auto;
}

.menu {
    font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
}

.sider{
    display: none;
}

.cellier {
    text-decoration: underline;
    margin-top: 20px;
}


.cellier {
    text-decoration: underline;
    margin-top: 20px;
}

.cellier img {
    margin-bottom: -3.5px;
}
