.my-gallery {
    width: 100%;
    float: left;
}

.my-gallery img {
    width: 100%;
    height: auto;
}

.my-gallery figure {
    display: inline-block;
    float: left;
    margin: 0 -3px -4px -2px;
    width: 140px;
    height: 80px;
    border: solid 4px white;
    overflow: hidden;
}

.my-gallery figcaption {
    display: none;
}