

@font-face {
font-family: 'Raleway';
src: url('http://7xtf58.com1.z0.glb.clouddn.com/raleway.woff') format('woff');
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway',-apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans', 'Noto Sans CJK Sc', 'Microsoft Jhenghei', 'Microsoft YaHei', sans-serif;
}

/*首页导航栏*/

.navbar-box{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*选择框*/
